.vh-30  {
  min-height: 30vh;
}

.vh-90  {
  min-height: 92.1vh;
}

.shop-now {
  border-style: solid;
  border-color: black;
  color:black;
  border-width: medium;
  text-decoration: none;
}


.shop-now:hover {
  text-decoration: none;
  color: black;
}